<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="#" class="nav-link">
        <div class="profile-image">
          <img class="img-xs rounded-circle" src="images/faces/face8.jpg" alt="profile image">
          <div class="dot-indicator bg-success"></div>
        </div>
        <div class="text-wrapper">
          <p class="profile-name">User Name</p>
          <p class="designation">Rule</p>
        </div>
        <div class="icon-container">
          <i class="icon-bubbles"></i>
          <div class="dot-indicator bg-danger"></div>
        </div>
      </a>
    </li>
    <li class="nav-item nav-category">
      <span class="nav-link">GESTIONNAIRE DE COMPTE</span>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="index.html">
        <span class="menu-title">Profile</span>
        <i class="icon-screen-desktop menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="index.html">
        <span class="menu-title">Log Out</span>
        <i class="icon-screen-desktop menu-icon"></i>
      </a>
    </li>
    <li class="nav-item nav-category"><span class="nav-link">GESTIONNAIRE DE MESSAGERIE</span></li>
    
    <li class="nav-item">
      <a class="nav-link" href="">
        <span class="menu-title">Boite de Reception</span>
        <i class="icon-globe menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">
        <span class="menu-title">Messages envoyés</span>
        <i class="icon-book-open menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="pages/charts/chartist.html">
        <span class="menu-title">Nouveau Message</span>
        <i class="icon-chart menu-icon"></i>
      </a>
    </li>    
    <li class="nav-item nav-category"><span class="nav-link">GESTIONNAIRE DE FICHIERS</span></li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <span class="menu-title">Notes reçues</span>
        <i class="icon-doc menu-icon"></i>
      </a>      
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <span class="menu-title">Notes envoyées</span>
        <i class="icon-doc menu-icon"></i>
      </a>      
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <span class="menu-title">PV reçus</span>
        <i class="icon-doc menu-icon"></i>
      </a>      
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <span class="menu-title">PV envoyés</span>
        <i class="icon-doc menu-icon"></i>
      </a>      
    </li>

    <li class="nav-item pro-upgrade">
      <span class="nav-link">
        <a class="btn btn-block px-0 btn-rounded btn-upgrade" href="https://www.bootstrapdash.com/product/stellar-admin-template/" target="_blank"> <i class="icon-badge mx-2"></i> Envoyer des notes</a>
      </span>
    </li>
  </ul>
</nav>