*{
    margin:0;
    padding: 0;
}
/*Bloc central*/
.main_bloc div{
    float:left;
}

/*Partie gauche contenant les menus*/
.main_bloc .part_left{
    height:650px;
    width:25%;
    box-shadow: 2px .5px 5px .5px rgba(0,0,0,.5);
}


.main_bloc .part_left .head{
height:100px;
width:100%;
background-color: rgb(242, 242, 243);
}

.main_bloc .part_left .head img{
    width:100px;
    height:100px;
    border-radius: 50%;
    border:2px solid white;
    margin-left:1%;
}



.main_bloc .part_left .head .user{
    margin-left:40%;
    margin-top:-100px;
}

.main_bloc .part_left .head .user p{
    margin-top:15px;
}


/*Menu gauche de navigation*/



.main_bloc .part_left .body{
    height:70%;
    width:100%;
    margin-top:10px;
    color:gray
}


.main_bloc .part_left .body nav{
    padding:10px;
}
.main_bloc .part_left .body nav h3{
height: 30px;
}


.main_bloc .part_left .body nav ul li{
    padding-left: 20px;
    padding-top: 10px;
    list-style: none;
    min-height:30px;
    border-top: 1px solid rgb(242, 242, 243);
    cursor: pointer;
}
.main_bloc .part_left .body nav ul li:hover{
    background-color: rgba(242, 242, 243,.5);
}

.main_bloc .part_left .body nav ul li p{
    margin-top: -17px;
    margin-left: 50px;
    width:80%;
}

.main_bloc .part_left .body nav ul li div.down{
    margin-left:80%;
    margin-top:-20px;
    font-family: 'Courier New', Courier, monospace;
font-size: 20px;
color:rgb(163, 163, 163);
transform: rotate(0deg);

}

.main_bloc .part_left .body nav ul li div.up{
    transform: rotate(-90deg);
    
}
.main_bloc .part_left .body nav ul li p.plus{
    margin-left:80%;
    margin-top:-20px;
    font-family: 'Courier New', Courier, monospace;
font-size: 15px;
background-color: rgba(29, 138, 29,.6);
color:whitesmoke;
width:25px;
height:20px;
padding-top: 5px;
padding-left: 5px;
border-radius: 50%;
}


/*Sous menu*/

.main_bloc .part_left .body nav ul li ul{
    display: none;
    margin-top:10px;
  transition: .5s ease-in;
}

.main_bloc .part_left .body nav ul li ul.on{
    display: block;

}

.main_bloc .part_left .body nav ul li ul li{
margin-left:40px;

}


.main_bloc .part_left .head .user p.name{
    font-size:20px;
    color:grey;
}

.main_bloc .part_left .head .user p.status{
    color:rgb(41, 71, 172);
    font-style: italic;
}





/*Partie droite contenant le dashboard*/

.main_bloc .part_right{
    height:900px;
    width:75%;
    background-color: rgba(242, 242, 243,.5);
}

/*Entete du bloc de droite*/

.main_bloc .part_right .head{
    width:100%;
    height:50px;
    background-color: rgb(72, 142, 223);
    box-shadow: 2px .5px 5px .5px rgba(0,0,0,.5);

}

.main_bloc .part_right .head ol li{
    list-style: none;
margin-left:20px;
margin-top:5px;
float: left;
}

.main_bloc .part_right .head ol.liste1 li{
    font-size: 35px;
    color: rgb(149, 187, 231);
    cursor: pointer;

}

.main_bloc .part_right .head ol.liste1 li.titre{
    color: rgb(204, 222, 241);
}



.main_bloc .part_right .head ol.liste2{
    margin-left:70%;
    margin-top:5px;
}

.main_bloc .part_right .head ol.liste2 li{
    font-size: 20px;
    margin-left:30px;
    color: rgb(149, 187, 231);
    cursor: pointer;
    transition: .5s;

}

.main_bloc .part_right .head ol.liste2 li:hover{
    color:white;
}
.main_bloc .part_right .head ol.liste2 li.user{
    border:2px solid rgb(149, 187, 231);
    padding-left:10px;
    padding-top: 5px;
    height:30px;
    width:25px;
    border-radius: 50%;
    margin-top:0px;
    color:rgb(149, 187, 231)
}



.main_bloc .part_right .head ol.liste2 li.comment::after{
    content:'20';
    position: absolute;
    width:15px;
    height:15px;
    font-size:10px;
    background-color: green;
    border-radius: 50%;
    padding-left:3px;
    padding-top: 2px;
    font-weight: bold;
    margin-top:-10px;
    margin-left: -10px;
}


.main_bloc .part_right .head ol.liste2 li.notif::after{
    content:'5';
    position: absolute;
    width:13px;
    height:15px;
    font-size:12px;
    background-color: rgb(233, 97, 97);
    border-radius: 50%;
    padding-left:6px;
    padding-top: 2px;
    font-weight: bold;
    margin-top:-10px;
    margin-left: -10px;
    color:rgba(249, 249, 253,.7)
}



/*Corps de la partie droite*/

.main_bloc .part_right .body{
    height:90%;
    width:100%;
}

.main_bloc .part_right .body .bloc_title{
    height:35px;
    width:95%;
    margin-left:2%;
    margin-top: 15px;
    padding-left:14px;
    padding-top: 5px;
    color:rgb(179, 178, 178);
    font-size: 25px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px .5px 2px .5px rgba(211, 211, 211, 0.5);

}



.main_bloc .part_right .body .main_stats{
    height:250px;
    width:95%;
    margin-left:2%;
    margin-top: 15px;
    padding-left:14px;
    padding-top: 5px;
    color:rgb(179, 178, 178);
    font-size: 25px;
    border-radius: 5px;
border-top:2px solid rgb(242, 242, 243);
overflow: hidden;
}

.main_bloc .part_right .body .main_stats div{
    float:left;
    width:30%;
    height:200px;
    background-color: white;
    margin-left:3%;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: -2px .5px 4px .5px rgba(211, 211, 211, 0.5);
    cursor: pointer;
    transition: .5s;
}

.main_bloc .part_right .body .main_stats div:hover{
    box-shadow: -2px 5px 14px .5px rgba(211, 211, 211, 0.5);

}


.main_bloc .part_right .body .main_stats div.bloc1{
    background: linear-gradient(rgba(250, 228, 234, 0.5),white);
    animation: 2s apparition1 1;
}
.main_bloc .part_right .body .main_stats div.bloc2{
    background: linear-gradient(rgb(235, 252, 235,.5),white);
    animation: 2s apparition2 1;

}

.main_bloc .part_right .body .main_stats div.bloc3{
    background: linear-gradient(white,rgb(235, 252, 235,.5));
    animation: 2s apparition3 1;

}


/*Départs des elements de stats*/

.main_bloc .part_right .body .main_stats div.go1{
    animation: 1s go1 1;

}

.main_bloc .part_right .body .main_stats div.go2{
    animation: 1s go2 1;

}
.main_bloc .part_right .body .main_stats div.go3{
    animation: 1s go3 1;

}

.main_bloc .part_right .body .main_stats div p{
    margin-top: 30px;
    margin-left:20px;
}


.main_bloc .part_right .body .main_stats div p.title{
    color:rgb(153, 157, 161)
}

.main_bloc .part_right .body .main_stats div.bloc1 p.number{
    color:red;
    font-weight: bold;
}
.main_bloc .part_right .body .main_stats div.bloc2 p.number{
    color:green;
    font-weight: bold;
}
.main_bloc .part_right .body .main_stats div.bloc3 p.number{
    color:lightgreen;
    font-weight: bold;
}


.main_bloc .part_right .body .main_stats div p.progress_bar{
    height:5px;
    width:80%;
    background-color: rgba(242, 242, 243);
    border-radius: 10px;
}

.main_bloc .part_right .body .main_stats div ol{
    font-size: 15px;
    margin-top:-20px;
    list-style: none;
    margin-left:20px;
}

.main_bloc .part_right .body .main_stats div ol li{
    float:left;

}

.main_bloc .part_right .body .main_stats div ol li:nth-child(2){
margin-left:49%;
}
.main_bloc .part_right .body .main_stats div.bloc1 p.progress_bar::after{
    content:'';
    position: absolute;
    z-index: 1;
    width:110px;
    height:5px;
    background-color: red;
    border-radius: 10px;

}
.main_bloc .part_right .body .main_stats div.bloc2 p.progress_bar::after{
    content:'';
    position: absolute;
    z-index: 1;
    width:140px;
    height:5px;
    background-color: green;
    border-radius: 10px;

}

.main_bloc .part_right .body .main_stats div.bloc3 p.progress_bar::after{
    content:'';
    position: absolute;
    z-index: 1;
    width:130px;
    height:5px;
    background-color: lightgreen;
    border-radius: 10px;

}




/*Partie des détails sur les stats*/
.main_bloc .part_right .body .detail_stat1{
    display: none;
    width:95%;
    height:90%;
    padding: 10px;
    margin-top:20px;
    animation: 1.5s apparition_detail 1;
}

.main_bloc .part_right .body .detail_stat1 div{
    float: left;
}
.main_bloc .part_right .body .detail_stat1 .part1{
    width:50%;
    height:200px;
    border:2px solid rgb(72, 142, 223);
    margin-left:10px;
    border-radius: 10px;

}

.main_bloc .part_right .body .detail_stat1 .part2{
    width:35%;
    height:150px;
    border:2px solid rgb(72, 142, 223);
    margin-left:50px;
    border-radius: 10px;

}
.main_bloc .part_right .body .detail_stat1 .part1 table,
.main_bloc .part_right .body .detail_stat1 .part2 table{
    margin-top: 30px;
    border-collapse: collapse;
}
.main_bloc .part_right .body .detail_stat1 .part1:before{
    content: 'Info générales';
    position: absolute;
    width:100px;
    height:20px;
    color:white;
    background-color: rgb(72, 142, 223);
}

.main_bloc .part_right .body .detail_stat1 .part2:before{
    content: 'Délimitation';
    position: absolute;
    width:100px;
    height:20px;
    color:white;
    background-color: rgb(72, 142, 223);
}

.main_bloc .part_right .body .detail_stat1 .part1 table tr td:nth-child(1),
.main_bloc .part_right .body .detail_stat1 .part2 table tr td:nth-child(1){
    color: rgb(72, 142, 223);
    font-weight: bold;
    width:150px;
    border-bottom:1px dashed rgb(72, 142, 223);
padding-bottom:20px;
}

.main_bloc .part_right .body .detail_stat1 .part1 table tr td:nth-child(2),
.main_bloc .part_right .body .detail_stat1 .part2 table tr td:nth-child(2){
    color: rgb(104, 106, 109);
    border-bottom:1px dashed rgb(72, 142, 223)

}

.main_bloc .part_right .body .detail_stat1 .chart{
    height:400px;
    margin-top:50px;
transform: translate(-200px,50px);
}

.main_bloc .part_right .body .detail_stat1 .chart h3{
    color:rgb(41, 71, 172)
}



.ui-tabs-anchor {
    outline: none;
  }




/*Les animations*/

/*Apparitions*/
@keyframes apparition1{
    0%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(0);
    }
}

@keyframes apparition2{
    0%{
        transform: translateY(-130%);
    }
    60%{
        transform: translateY(0);
    }
}

@keyframes apparition3{
    0%{
        transform: translateX(100%);
    }
    70%{
        transform: translateX(0);
    }
}


@keyframes apparition_detail{
    0%{
        transform: translateY(130%);
    }
    60%{
        transform: translateY(0);
    }
}
/*Départs*/
@keyframes go1{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-150%);
    }
    100%{
        transform: translateX(-150%);
    }
}

@keyframes go2{
    0%{
        transform: translateY(0);
    }
    60%{
        transform: translateY(-130%);
    }
    100%{
        transform: translateY(-130%);
    }
}

@keyframes go3{
    0%{
        transform: translateX(0);
    }
    70%{
        transform: translateX(130%);
    }
    100%{
        transform: translateX(130%);
    }
}